<!DOCTYPE html>
<html lang="en">

<head>
    <title>Tipos de IVA</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link rel="stylesheet" href="{%static '/assets/css/main.css' %}">

    <script type="text/javascript">
        function showCTable() {
            var x = document.getElementById("customer_table");
            if(x.style.display === "none"){
                x.style.display = "block";
            }else {
                x.style.display = "none";
            }
        }

        function showPTable() {
            var x = document.getElementById("product_table");
            if(x.style.display === "none"){
                x.style.display = "block";
            }else {
                x.style.display = "none";
            }
        }
    </script>

</head>


<body class="homepage">
		<div id="page-wrapper">

		<!-- Header -->
			<div id="header-wrapper">

				<div id="header" class="container" style="width: 100%">
					<h1  style="margin-top:-100px;">Tipos de IVA</h1>
					<br>
					<li>
					<br>
					<br>
								<!-- Nav -->
				<nav id="nav" style="margin-top: -15px;">
							<ul>
								<li>
									<a class="icon fa-home" href="/">
										<span>Home</span>
									</a>
								</li>
								<li>
									<a href="/add_client" class="fa fa-user-plus" aria-hidden="true">
										<span>Adicionar cliente</span>
									</a>
								</li>

								<li>
									<a href="/list_clients" class="fa fa-user" aria-hidden="true">
										<span>Listar clientes</span>
									</a>
								</li>

								<li>
									<a href="/add_product" class="fa fa-cart-plus" aria-hidden="true">
										<span>Adicionar produto</span>
									</a>
								</li>

								<li>
									<a href="/list_products" class="fa fa-shopping-cart" aria-hidden="true">
										<span>Listar produtos</span>
									</a>
								</li>

                                <li>
                                    <a href="/add_sale" class="fa fa-shopping-bag" aria-hidden="true">
                                        <span>Adicionar venda</span>
                                    </a>
                                </li>

                                 <li>
                                    <a href="/list_sales" class="fa fa-money" aria-hidden="true">
                                        <span>Listar vendas</span>
                                    </a>
                                </li>


							</ul>
					</nav>

					<div class="container" style="text-align: center;width: 700px;">
						<form class="pure-form pure-form-aligned">
							    <div align="center" id="customer_table">
							    <style>
							    th{
							    	    background-color: #ed786a;
									    border: none;
									    color: white;
									    padding: 10px;
									    text-align: center;
									    text-shadow: 1px 1px 1px ;
									    white-space: nowrap;
							    }
							    td {
								    border-bottom: solid 1px #DDEFEF;
								    color: #333;
								    padding: 10px;
								    text-shadow: 1px 1px 1px #fff;
								    white-space: nowrap;
								}
							    </style>

						        <table align="center" style="border: solid black">
						        	<thead>
						        		<tr>
						        			<th> Type </th>
						        			<th> Description </th>
                                            <th> Value </th>
						        		</tr>
						        	</thead>
						                {% for tax in taxes %}
						                    <tr style="border: solid black;">
						                        <td style="border: solid black">{{ tax.0 }}</td>
						                        <td style="border: solid black">{{ tax.1 }}</td>
                                                <td style="border: solid black">{{ tax.2 }}</td>
						                    </tr>
						                {% endfor %}
						        </table>

						    </div>
						</form>
					</div>
				</div>
			</div>
		</div>
</body>